<mat-card>
  <!-- Title -->
  <mat-card-title>
    <mat-card-title>Item details</mat-card-title>
  </mat-card-title>

  <!-- Content -->
  <mat-card-content>
    <div *ngIf="element">
      <h2>{{element.name}} Details</h2>

      <!-- Id -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label for="element-id">Id</mat-label>
          <input matInput id="element-id" [(ngModel)]="element.id">
          <mat-icon matSuffix>fingerprint</mat-icon>
        </mat-form-field>
      </div>

      <!-- Name -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label for="element-name" >Name</mat-label>
          <input matInput id="element-name" [(ngModel)]="element.name">
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
      </div>

      <!-- Weight -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label for="element-weight">Weight</mat-label>
          <input matInput id="element-weight" [(ngModel)]="element.weight">
          <mat-icon matSuffix>scale</mat-icon>
        </mat-form-field>
      </div>

      <!-- Symbol -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label for="element-symbol">Symbol</mat-label>
          <mat-select id="element-symbol" [(value)]="element.symbol">
            <mat-option>None</mat-option>
            <mat-option value="A">A</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="C">C</mat-option>
          </mat-select>
          <mat-icon matSuffix>addchart</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button type="button" color="accent"
                (click)="goBack()">Back</button>

        <button mat-raised-button color="primary"
                (click)="save()" type="button">Save</button>
      </div>
    </div>
  </mat-card-content>
  <!-- Footer -->
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
