<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- Header bar -->
  <app-header-bar (toggleEventEmitter)="sidenav.toggle()"></app-header-bar>

  <!-- Sidenav container -->
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <!-- Sidenar bar -->
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <app-side-bar></app-side-bar>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Content -->
      <router-outlet></router-outlet>
      <!-- Footer -->
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
