<!-- Header bar -->
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon"
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<!-- Side bar -->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    Sidenav content
    <app-side-bar></app-side-bar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card>
      <!-- Title -->
      <mat-card-title>Data Table</mat-card-title>

      <!-- Content -->
      <mat-card-content>
        <app-data-table></app-data-table>
      </mat-card-content>

      <!-- Footer -->
      <mat-card-footer>
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page">
        </mat-paginator>
      </mat-card-footer>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
